@media only screen and (max-width: 768px) {
    .ownimage{
        height: 250px;
        width: 250px;
       margin: auto;
                }
    #html-margin{
        margin-top: 20px;
    }
    #project-ongoing-padding{
        padding-bottom: 10px;
    }
    .mobile-navbar{
        top: 0;
        position: fixed;
        z-index: 2;
    }
}