*{
    box-sizing: border-box;
}
.nav-fixed{
    position: sticky;
    z-index: 2;
}
#navbg{
    background-color: #7952B3;
}
.home-container{
background-color: #8c99d17e;
}
.ownimage{
    height: 400px;
    width: 400px;
}
.text-weight-bolder{
    font-weight: bolder;

}
.about-container{
    background-color: cadetblue;
}
.icon-circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 20px;
    text-align:center;
}
.icon-circle:hover{
    background-color: yellowgreen;
}
@media screen and (max-width: 600px) {
.icon-circle{
    height: 30px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 20px;
    text-align:center;
    
            }
.ownimage{
    height: 250px;
    width: 250px;
   margin: auto;
            }
}

